$red: #c4302b;
$darkred: #691a17;
$black: #575757;
$grey: #5757579d;
$blue: #01aaad;
$faintblue: #007c7e54;
$bluegrey: #f6fbff;
$darkblue: #1c166be6;
$green: #3ab54a;

$darkorange: #ff3c00;

$primary-font: 'Work Sans', sans-serif;
$secondary-font: 'Varela Round', sans-serif;
$third-font: 'Pacifico', cursive;

// .mapboxgl-popup {
//     left: 0;
//     top: 0;
// }

.country-hover-box {
    display: none;
    position: absolute;
    width: max-content;
    background: white;
    border-radius: .15rem;
    border: 1px solid grey;
    padding: .15rem;

    img {
      max-height: 15px;
      margin: 0 .5rem 0 0;
    }
  }

.mapboxgl-popup-content {
    padding: .45rem .45rem .3rem .45rem;
}

.mapboxgl-popup-close-button {
    transform: scale(1.85) !important;
    margin: .5rem;
    padding: 0 .25rem;
    color: $darkred;
    background: white;
    border-radius: 50%;
    z-index: 15;

    &:hover {
        color: $red;
        background: white;
    }
}