.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 3rem;

    .social-icons > * {
        margin: 0 .5rem;
        opacity: .7;
        transition: .2s;

        &:hover {
            opacity: 1;
        }
    }

    .footer-info {
        text-align: center;

        img {
            width: 50px;
        }
    }
}