.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .5rem;
  background: white;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 100;
}

.navbar img {
  width: 75px;
  opacity: .8;
  -webkit-transition: .2s;
  transition: .2s;
  margin: .5rem;
  padding: .15rem;
  border-radius: 50%;
  -webkit-box-shadow: -4px -4px 5px rgba(200, 200, 200, 0.1), 4px 4px 5px rgba(0, 0, 0, 0.1);
          box-shadow: -4px -4px 5px rgba(200, 200, 200, 0.1), 4px 4px 5px rgba(0, 0, 0, 0.1);
}

.navbar img:hover {
  opacity: 1;
  -webkit-box-shadow: inset -4px -4px 2.5px rgba(200, 200, 200, 0.1), inset 2px 2px 2.5px rgba(0, 0, 0, 0.1);
          box-shadow: inset -4px -4px 2.5px rgba(200, 200, 200, 0.1), inset 2px 2px 2.5px rgba(0, 0, 0, 0.1);
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar ul li {
  list-style: none;
  margin: 0 2rem;
  -webkit-transition: .2s;
  transition: .2s;
  opacity: .8;
}

.navbar ul li:last-child {
  margin: 0 .75rem;
  padding: .12rem .35rem;
  border-radius: 10px;
  -webkit-box-shadow: -4px -4px 5px rgba(200, 200, 200, 0.1), 4px 4px 5px rgba(0, 0, 0, 0.1);
          box-shadow: -4px -4px 5px rgba(200, 200, 200, 0.1), 4px 4px 5px rgba(0, 0, 0, 0.1);
}

.navbar ul li:last-child:hover {
  -webkit-box-shadow: inset -4px -4px 5px rgba(200, 200, 200, 0.1), inset 2px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: inset -4px -4px 5px rgba(200, 200, 200, 0.1), inset 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar ul li:last-child .fa-youtube {
  color: #c4302b;
}

.navbar ul li:hover {
  opacity: 1;
}

.navbar a {
  outline: none;
  text-decoration: none;
}

.home {
  background-image: url("../img/background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}

.home .overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: radial-gradient(white, rgba(206, 253, 255, 0.7));
}

.home .overlay .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .overlay .header h1 {
  font-size: 5.75rem;
}

.home .overlay .header .elearn {
  position: absolute;
  -webkit-transform: translate(175%, 105%);
          transform: translate(175%, 105%);
  font-size: 3.5rem;
}

.home .overlay .header .elearn .fa-graduation-cap {
  -webkit-transform: rotate(-15deg) scale(0.75);
          transform: rotate(-15deg) scale(0.75);
  position: absolute;
  left: -25px;
  bottom: 42px;
}

.home .overlay .header-paragraph {
  font-size: 1.75rem;
  margin: 7.5rem 0 2.5rem 0;
  text-align: center;
}

.home .overlay .header-paragraph p {
  margin-bottom: 1.25rem;
}

.home .overlay .header-paragraph .btn-header {
  color: #01aaad;
  border: 2px solid #01aaad;
  background: white;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.home .overlay .header-paragraph .btn-header .fa-caret-square-right {
  color: #01aaad;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.home .overlay .header-paragraph .btn-header:hover {
  background: #01aaad;
  color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: 1;
}

.home .overlay .header-paragraph .btn-header:hover .fa-caret-square-right {
  color: white;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 140vh;
  padding: 7rem 0;
  width: 100%;
  background: #f6fbff;
}

.info .cardi {
  width: 375px;
  height: auto;
  margin: 4rem 2rem;
  padding: 1rem 0.5rem 2.5rem 0.5rem;
  text-align: center;
  border-radius: 1.5rem;
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-box-shadow: -6px -6px 20px white, 6px 6px 20px rgba(0, 0, 0, 0.1);
          box-shadow: -6px -6px 20px white, 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.info .cardi:hover {
  -webkit-box-shadow: -6px -6px 20px white, 6px 6px 20px rgba(0, 0, 0, 0.3);
          box-shadow: -6px -6px 20px white, 6px 6px 20px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.info .cardi img {
  width: 100%;
  max-width: 450px;
  margin: 0.75rem auto;
}

.info .cardi h2,
.info .cardi p {
  margin: 0.75rem .5rem 2rem .5rem;
  line-height: 1.5rem;
}

.info .cardi a {
  font-family: "Varela Round", sans-serif;
  color: #1c166be6;
  -webkit-box-shadow: -4px -4px 5px rgba(255, 255, 255, 0.1), 4px 4px 5px rgba(0, 0, 0, 0.1);
          box-shadow: -4px -4px 5px rgba(255, 255, 255, 0.1), 4px 4px 5px rgba(0, 0, 0, 0.1);
}

.info .cardi a:hover {
  -webkit-box-shadow: inset -4px -4px 5px rgba(200, 200, 200, 0.1), inset 2px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: inset -4px -4px 5px rgba(200, 200, 200, 0.1), inset 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.video-container {
  text-align: center;
  background: #f6fbff;
}

.video-container iframe {
  margin: 7.5rem auto;
  -webkit-box-shadow: -4px -4px 7.5px rgba(0, 0, 0, 0.75), 4px 4px 7.5px rgba(68, 49, 49, 0.75), 4px -4px 7.5px rgba(0, 0, 0, 0.75), -4px 4px 7.5px rgba(0, 0, 0, 0.75);
          box-shadow: -4px -4px 7.5px rgba(0, 0, 0, 0.75), 4px 4px 7.5px rgba(68, 49, 49, 0.75), 4px -4px 7.5px rgba(0, 0, 0, 0.75), -4px 4px 7.5px rgba(0, 0, 0, 0.75);
}

.banner-img {
  width: 100vw;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0.9;
  margin: 0 auto 2rem auto;
}

.banner-img:hover {
  opacity: 1;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.5rem 3rem;
}

.footer .social-icons > * {
  margin: 0 .5rem;
  opacity: .7;
  -webkit-transition: .2s;
  transition: .2s;
}

.footer .social-icons > *:hover {
  opacity: 1;
}

.footer .footer-info {
  text-align: center;
}

.footer .footer-info img {
  width: 50px;
}

@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes score {
  from {
    -webkit-box-shadow: 4px 4px 5px #3ab54a, -4px 4px 5px #3ab54a, -4px -4px 5px #3ab54a, 4px -4px 5px #3ab54a, inset 2px 2px 2.5px #3ab54a, inset -2px 2px 2.5px #3ab54a, inset -2px -2px 2.5px #3ab54a, inset 2px -2px 2.5px #3ab54a;
            box-shadow: 4px 4px 5px #3ab54a, -4px 4px 5px #3ab54a, -4px -4px 5px #3ab54a, 4px -4px 5px #3ab54a, inset 2px 2px 2.5px #3ab54a, inset -2px 2px 2.5px #3ab54a, inset -2px -2px 2.5px #3ab54a, inset 2px -2px 2.5px #3ab54a;
  }
  to {
    -webkit-box-shadow: inset -4px -4px 5px rgba(200, 200, 200, 0.1), inset 2px 2px 5px rgba(0, 0, 0, 0.1);
            box-shadow: inset -4px -4px 5px rgba(200, 200, 200, 0.1), inset 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
}

@keyframes score {
  from {
    -webkit-box-shadow: 4px 4px 5px #3ab54a, -4px 4px 5px #3ab54a, -4px -4px 5px #3ab54a, 4px -4px 5px #3ab54a, inset 2px 2px 2.5px #3ab54a, inset -2px 2px 2.5px #3ab54a, inset -2px -2px 2.5px #3ab54a, inset 2px -2px 2.5px #3ab54a;
            box-shadow: 4px 4px 5px #3ab54a, -4px 4px 5px #3ab54a, -4px -4px 5px #3ab54a, 4px -4px 5px #3ab54a, inset 2px 2px 2.5px #3ab54a, inset -2px 2px 2.5px #3ab54a, inset -2px -2px 2.5px #3ab54a, inset 2px -2px 2.5px #3ab54a;
  }
  to {
    -webkit-box-shadow: inset -4px -4px 5px rgba(200, 200, 200, 0.1), inset 2px 2px 5px rgba(0, 0, 0, 0.1);
            box-shadow: inset -4px -4px 5px rgba(200, 200, 200, 0.1), inset 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
}

@-webkit-keyframes timelow {
  from {
    -webkit-box-shadow: 4px 4px 5px orange, -4px 4px 5px orange, -4px -4px 5px orange, 4px -4px 5px orange, inset 2px 2px 2.5px orange, inset -2px 2px 2.5px orange, inset -2px -2px 2.5px orange, inset 2px -2px 2.5px orange;
            box-shadow: 4px 4px 5px orange, -4px 4px 5px orange, -4px -4px 5px orange, 4px -4px 5px orange, inset 2px 2px 2.5px orange, inset -2px 2px 2.5px orange, inset -2px -2px 2.5px orange, inset 2px -2px 2.5px orange;
  }
  to {
    -webkit-box-shadow: inset -4px -4px 5px rgba(200, 200, 200, 0.2), inset 2px 2px 5px rgba(0, 0, 0, 0.2);
            box-shadow: inset -4px -4px 5px rgba(200, 200, 200, 0.2), inset 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
}

@keyframes timelow {
  from {
    -webkit-box-shadow: 4px 4px 5px orange, -4px 4px 5px orange, -4px -4px 5px orange, 4px -4px 5px orange, inset 2px 2px 2.5px orange, inset -2px 2px 2.5px orange, inset -2px -2px 2.5px orange, inset 2px -2px 2.5px orange;
            box-shadow: 4px 4px 5px orange, -4px 4px 5px orange, -4px -4px 5px orange, 4px -4px 5px orange, inset 2px 2px 2.5px orange, inset -2px 2px 2.5px orange, inset -2px -2px 2.5px orange, inset 2px -2px 2.5px orange;
  }
  to {
    -webkit-box-shadow: inset -4px -4px 5px rgba(200, 200, 200, 0.2), inset 2px 2px 5px rgba(0, 0, 0, 0.2);
            box-shadow: inset -4px -4px 5px rgba(200, 200, 200, 0.2), inset 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
}

@-webkit-keyframes timeverylow {
  0% {
    -webkit-box-shadow: 4px 4px 5px #c4302b, -4px 4px 5px #c4302b, -4px -4px 5px #c4302b, 4px -4px 5px #c4302b, inset 2px 2px 2.5px #c4302b, inset -2px 2px 2.5px #c4302b, inset -2px -2px 2.5px #c4302b, inset 2px -2px 2.5px #c4302b;
            box-shadow: 4px 4px 5px #c4302b, -4px 4px 5px #c4302b, -4px -4px 5px #c4302b, 4px -4px 5px #c4302b, inset 2px 2px 2.5px #c4302b, inset -2px 2px 2.5px #c4302b, inset -2px -2px 2.5px #c4302b, inset 2px -2px 2.5px #c4302b;
  }
  100% {
    -webkit-box-shadow: inset -4px -4px 5px rgba(200, 200, 200, 0.2), inset 2px 2px 5px rgba(0, 0, 0, 0.2);
            box-shadow: inset -4px -4px 5px rgba(200, 200, 200, 0.2), inset 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
}

@keyframes timeverylow {
  0% {
    -webkit-box-shadow: 4px 4px 5px #c4302b, -4px 4px 5px #c4302b, -4px -4px 5px #c4302b, 4px -4px 5px #c4302b, inset 2px 2px 2.5px #c4302b, inset -2px 2px 2.5px #c4302b, inset -2px -2px 2.5px #c4302b, inset 2px -2px 2.5px #c4302b;
            box-shadow: 4px 4px 5px #c4302b, -4px 4px 5px #c4302b, -4px -4px 5px #c4302b, 4px -4px 5px #c4302b, inset 2px 2px 2.5px #c4302b, inset -2px 2px 2.5px #c4302b, inset -2px -2px 2.5px #c4302b, inset 2px -2px 2.5px #c4302b;
  }
  100% {
    -webkit-box-shadow: inset -4px -4px 5px rgba(200, 200, 200, 0.2), inset 2px 2px 5px rgba(0, 0, 0, 0.2);
            box-shadow: inset -4px -4px 5px rgba(200, 200, 200, 0.2), inset 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
}

@-webkit-keyframes liveweather {
  from {
    opacity: 1;
  }
  to {
    opacity: .1;
  }
}

@keyframes liveweather {
  from {
    opacity: 1;
  }
  to {
    opacity: .1;
  }
}

.search {
  text-align: center;
}

.search h1 {
  margin: 2rem auto;
}

.search h1 .elearn {
  margin-right: 0.75rem;
}

.search h1 .elearn .fa-graduation-cap {
  position: absolute;
  -webkit-transform: rotate(-15deg) scale(0.75) translate(-45px, -15px);
          transform: rotate(-15deg) scale(0.75) translate(-45px, -15px);
}

.search .search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search .search-form input {
  background: white;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  padding: 0.8rem 1rem;
  margin: 0 2.75rem;
  opacity: 0.8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline: none;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: inset -4px -4px 5px rgba(200, 200, 200, 0.1), inset 2px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: inset -4px -4px 5px rgba(200, 200, 200, 0.1), inset 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.search .search-form input:focus {
  -webkit-box-shadow: inset -4px -4px 5px rgba(200, 200, 200, 0.2), inset 2px 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: inset -4px -4px 5px rgba(200, 200, 200, 0.2), inset 2px 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.search .search-form .x-button {
  outline: none;
  border: none;
  background: white;
  opacity: 0.8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: .35rem 0.65rem;
  border-radius: 10px;
  -webkit-box-shadow: -4px -4px 5px rgba(200, 200, 200, 0.1), 4px 4px 5px rgba(0, 0, 0, 0.1);
          box-shadow: -4px -4px 5px rgba(200, 200, 200, 0.1), 4px 4px 5px rgba(0, 0, 0, 0.1);
}

.search .search-form .x-button:hover {
  -webkit-box-shadow: inset -4px -4px 5px rgba(200, 200, 200, 0.1), inset 2px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: inset -4px -4px 5px rgba(200, 200, 200, 0.1), inset 2px 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  opacity: 1;
}

.search .search-form .x-button .fa-times {
  color: #c4302b;
}

.search .react-autosuggest__container {
  position: relative;
}

.search .react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-weight: 300;
  font-size: 16px;
}

.search .react-autosuggest__input--focused {
  outline: none;
}

.search .react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.search .react-autosuggest__suggestions-container {
  display: none;
}

.search .react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  left: 25px;
  width: 280px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 5px rgba(200, 200, 200, 0.8);
          box-shadow: 4px 4px 5px rgba(200, 200, 200, 0.8);
  background-color: white;
  z-index: 2;
}

.search .react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.search .react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.search .react-autosuggest__suggestion--highlighted {
  background-color: #f6fbff;
  color: #27e492;
  border-radius: 10px;
  -webkit-box-shadow: -0.02rem -0.02rem 8px #007c7e54, 0.02rem 0.02rem 8px #007c7e54, 0.02rem -0.02rem 8px #007c7e54, -0.02rem 0.02rem 8px #007c7e54;
          box-shadow: -0.02rem -0.02rem 8px #007c7e54, 0.02rem 0.02rem 8px #007c7e54, 0.02rem -0.02rem 8px #007c7e54, -0.02rem 0.02rem 8px #007c7e54;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card {
  min-height: 32vh;
  padding: 5rem;
}

.card .card-header-container {
  position: relative;
}

.card .card-header-container .country-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .card-header-container .country-header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.card .card-header-container .country-header div h1 {
  font-size: 4.75rem;
  margin: 3.75rem 0.75rem;
}

.card .card-header-container .country-header div h3 {
  font-size: 2.5rem;
  color: #5757579d;
}

.card .country-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .country-images img {
  -webkit-box-shadow: -4px -4px 15px rgba(200, 200, 200, 0.25), 4px 4px 15px rgba(0, 0, 0, 0.25);
          box-shadow: -4px -4px 15px rgba(200, 200, 200, 0.25), 4px 4px 15px rgba(0, 0, 0, 0.25);
}

.card .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5rem auto;
}

.card .info-container .info-card span {
  color: #01aaad;
}

.card .info-buttons {
  text-align: center;
}

.card .info-buttons .btn-info {
  -webkit-transform: scale(0.65);
          transform: scale(0.65);
  padding: 0.75rem;
  border: none;
  opacity: 0.7;
  border-radius: 50%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: -4px -4px 5px rgba(200, 200, 200, 0.1), 4px 4px 5px rgba(0, 0, 0, 0.1);
          box-shadow: -4px -4px 5px rgba(200, 200, 200, 0.1), 4px 4px 5px rgba(0, 0, 0, 0.1);
}

.card .info-buttons .btn-info:hover {
  -webkit-box-shadow: inset -4px -4px 5px rgba(200, 200, 200, 0.1), inset 2px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: inset -4px -4px 5px rgba(200, 200, 200, 0.1), inset 2px 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  opacity: 1;
}

.card .info-buttons .btn-info i {
  color: #01aaad;
}

.card .info-modals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 1.75rem;
}

.card .info-modals .info-card span {
  color: #3ab54a;
}

.card .info-modals .timezone-info, .card .info-modals .telephone-info, .card .info-modals .language-info, .card .info-modals .regionalbloc {
  display: none;
}

.card .info-card {
  width: 375px;
  padding: 2.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.65rem;
  border-radius: 1.5rem;
  margin-bottom: 4rem;
  text-align: center;
  -webkit-box-shadow: -6px -6px 20px white, 6px 6px 20px rgba(0, 0, 0, 0.1);
          box-shadow: -6px -6px 20px white, 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.card div {
  margin: 0.75rem auto;
}

.card span {
  color: #5757579d;
  font-family: "Varela Round", sans-serif;
  font-weight: normal;
}

.card ul {
  list-style: none;
}

.card .map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80vw;
  margin: 0 auto;
}

.card .map .map-box, .card .map .borders-box, .card .map .weather-box {
  padding: 1rem .75rem .75rem .75rem;
  width: 250px;
  line-height: 1.15rem;
}

.card .map .map-box span, .card .map .borders-box span, .card .map .weather-box span {
  color: #01aaad;
}

.card .map .map-box p, .card .map .borders-box p, .card .map .weather-box p {
  font-size: 1rem;
}

.card .map .borders-box ul li {
  margin: .25rem 1.5rem;
  text-align: left;
}

.card .map .borders-box ul li span {
  font-size: 1rem;
}

.card .map .borders-box ul li img {
  margin-right: .75rem;
  -webkit-box-shadow: -2px -2px 2px rgba(200, 200, 200, 0.25);
          box-shadow: -2px -2px 2px rgba(200, 200, 200, 0.25);
}

.card .currency-card .currency-container .fa-equals {
  margin: 0 1rem;
}

.card .currency-card .currency-container span {
  margin-left: 1rem;
}

.card .currency-card .currency-container select {
  font-weight: 700;
  color: #01aaad;
  padding: .5rem 1rem .5rem .5rem;
  width: 4rem;
  margin: 0;
  border: 0.05rem solid #01aaad;
  border-radius: .5rem;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
  -webkit-transition: .2s;
  transition: .2s;
}

.card .currency-card .currency-container select::-ms-expand {
  display: none;
}

.card .currency-card .currency-container select:hover {
  cursor: pointer;
  border: 0.05rem solid #1c166be6;
}

.card .currency-card .currency-container select:focus {
  border-color: #aaa;
  -webkit-box-shadow: 0 0 1px 1px #1c166be6;
          box-shadow: 0 0 1px 1px #1c166be6;
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #5757579d;
  outline: none;
}

.card .currency-card .currency-container select option {
  font-weight: normal;
}

.weather-box {
  width: 350px !important;
}

.weather-box .weather-main, .weather-box .weather-extra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fa-dot-circle {
  color: #c4302b;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  margin-right: .15rem;
  -webkit-animation: liveweather .5s alternate infinite ease-in-out;
          animation: liveweather .5s alternate infinite ease-in-out;
}

.capitalmap {
  margin: 0 auto 5rem auto;
  padding: 0;
  width: 1050px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: -4px -4px 15px rgba(200, 200, 200, 0.25), 4px 4px 15px rgba(0, 0, 0, 0.25);
          box-shadow: -4px -4px 15px rgba(200, 200, 200, 0.25), 4px 4px 15px rgba(0, 0, 0, 0.25);
}

.capitalmap button {
  background: white;
  outline: none;
  border: none;
  border-radius: 50%;
  -webkit-transition: .2s;
  transition: .2s;
  opacity: .8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.capitalmap button:hover {
  cursor: pointer;
  opacity: 1;
}

.capitalmap .capital-info {
  padding: .15rem .35rem;
  max-width: 500px;
}

.capitalmap .capital-info > * {
  margin: .5rem 0;
}

.capitalmap .capital-info img:nth-child(1) {
  -webkit-box-shadow: 1px 1px 1px #5757579d, 1px -1px 1px #5757579d, -1px -1px 1px #5757579d, -1px 1px 1px #5757579d;
          box-shadow: 1px 1px 1px #5757579d, 1px -1px 1px #5757579d, -1px -1px 1px #5757579d, -1px 1px 1px #5757579d;
}

.capitalmap .capital-info img:nth-child(3) {
  -webkit-box-shadow: 2px 2px 5px #5757579d, 2px -2px 5px #5757579d, -2px -2px 5px #5757579d, -2px 2px 5px #5757579d;
          box-shadow: 2px 2px 5px #5757579d, 2px -2px 5px #5757579d, -2px -2px 5px #5757579d, -2px 2px 5px #5757579d;
}

.capitalmap .capital-info h3 {
  text-align: center;
  margin-bottom: 1rem;
}

.capitalmap .capital-info p:nth-child(2) {
  display: none;
}

.capitalmap .capital-info #wiki-info, .capitalmap .capital-info #teleport-info {
  margin: 1rem auto;
  display: block;
}

.capitalmap .capital-info .teleport-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.capitalmap .capital-info .teleport-data .charts-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: .25rem;
}

.capitalmap .capital-info .teleport-data .charts-container .chart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin: .35rem .25rem;
  width: 100%;
  min-width: 225px;
}

.capitalmap .capital-info .teleport-data .charts-container .chart div {
  margin: 0 .25rem;
}

.capitalmap .capital-info .teleport-data .charts-container .chart div:last-child {
  margin-top: .35rem;
}

.capitalmap .capital-info .teleport-data .charts-container .chart .bar {
  position: relative;
  height: 2rem;
  width: 2.5rem;
  border-radius: 1.5px;
}

.capitalmap .capital-info .teleport-data .charts-container .chart span {
  position: absolute;
  color: white;
  left: 12px;
  top: 8px;
  font-size: .85rem;
  text-shadow: 1px 1px 2px black, 1px -1px 2px black, -1px -1px 2px black, 1px -1px 2px black;
}

.quiz {
  text-align: center;
}

.quiz h1 {
  margin: 2rem auto;
}

.quiz h1 .elearn {
  margin-right: 0.75rem;
}

.quiz h1 .elearn .fa-graduation-cap {
  position: absolute;
  -webkit-transform: rotate(-15deg) scale(0.75) translate(-45px, -15px);
          transform: rotate(-15deg) scale(0.75) translate(-45px, -15px);
}

.quiz .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 3.75rem;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(white, rgba(255, 255, 255, 0));
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.quiz .input input {
  background: white;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  padding: 0.8rem 1rem;
  margin: 0 2.75rem;
  width: 375px;
  opacity: 0.8;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border: none;
  border-radius: 10px;
  -webkit-animation-duration: 3.2s;
          animation-duration: 3.2s;
  -webkit-box-shadow: inset -4px -4px 5px rgba(200, 200, 200, 0.1), inset 2px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: inset -4px -4px 5px rgba(200, 200, 200, 0.1), inset 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.quiz .input input:focus {
  -webkit-box-shadow: inset -4px -4px 5px rgba(200, 200, 200, 0.2), inset 2px 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: inset -4px -4px 5px rgba(200, 200, 200, 0.2), inset 2px 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.quiz .input .btn-start {
  border-radius: 0.5rem;
  border: none;
  margin: 0 0.25rem;
  -webkit-box-shadow: -4px -4px 5px rgba(200, 200, 200, 0.1), 4px 4px 5px rgba(0, 0, 0, 0.1);
          box-shadow: -4px -4px 5px rgba(200, 200, 200, 0.1), 4px 4px 5px rgba(0, 0, 0, 0.1);
}

.quiz .input .btn-start:hover {
  -webkit-box-shadow: inset -4px -4px 5px rgba(200, 200, 200, 0.1), inset 2px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: inset -4px -4px 5px rgba(200, 200, 200, 0.1), inset 2px 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.quiz .input .btn-start i {
  color: #3ab54a;
}

.quiz .input .quiz-timer {
  background: white;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  padding: 0.5rem 0;
  width: 4.5rem;
  margin: 0 2.75rem;
  font-size: 1.25rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  border: none;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  border-radius: 10px;
  -webkit-box-shadow: inset -4px -4px 5px rgba(200, 200, 200, 0.2), inset 2px 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: inset -4px -4px 5px rgba(200, 200, 200, 0.2), inset 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.quiz .input .quiz-buttons {
  position: relative;
}

.quiz .input .quiz-buttons .question-box {
  display: none;
  position: absolute;
  top: 60px;
  background: #01aaad;
  padding: 1rem;
  width: 395px;
  border-radius: 2rem;
  -webkit-box-shadow: -4px -4px 15px rgba(255, 255, 255, 0.4), 4px 4px 15px rgba(255, 255, 255, 0.4), -4px 4px 15px rgba(255, 255, 255, 0.4), 4px -4px 15px rgba(255, 255, 255, 0.4);
          box-shadow: -4px -4px 15px rgba(255, 255, 255, 0.4), 4px 4px 15px rgba(255, 255, 255, 0.4), -4px 4px 15px rgba(255, 255, 255, 0.4), 4px -4px 15px rgba(255, 255, 255, 0.4);
}

.quiz .input .quiz-buttons .question-box p,
.quiz .input .quiz-buttons .question-box h3 {
  color: white;
}

.quiz .input .quiz-buttons .btn {
  border-radius: 0.5rem;
  border: none;
  margin: 0 0.25rem;
  -webkit-box-shadow: -4px -4px 5px rgba(200, 200, 200, 0.1), 4px 4px 5px rgba(0, 0, 0, 0.1);
          box-shadow: -4px -4px 5px rgba(200, 200, 200, 0.1), 4px 4px 5px rgba(0, 0, 0, 0.1);
}

.quiz .input .quiz-buttons .btn:hover {
  -webkit-box-shadow: inset -4px -4px 5px rgba(200, 200, 200, 0.1), inset 2px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: inset -4px -4px 5px rgba(200, 200, 200, 0.1), inset 2px 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.quiz .input .quiz-buttons .btn i {
  color: #01aaad;
}

.quiz .score-box {
  color: white;
  font-size: 1.25rem;
  padding: 0.25rem 0;
  background: #007c7e54;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.quiz .time-up-overlay,
.quiz .winner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #5757579d;
  z-index: 100;
}

.quiz .time-up-overlay .time-up-box,
.quiz .time-up-overlay .winner-box,
.quiz .winner-overlay .time-up-box,
.quiz .winner-overlay .winner-box {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #1c166be6;
  padding: 2.5rem;
  border-radius: 2rem;
  -webkit-box-shadow: -4px -4px 15px rgba(255, 255, 255, 0.4), 4px 4px 15px rgba(255, 255, 255, 0.4), -4px 4px 15px rgba(255, 255, 255, 0.4), 4px -4px 15px rgba(255, 255, 255, 0.4);
          box-shadow: -4px -4px 15px rgba(255, 255, 255, 0.4), 4px 4px 15px rgba(255, 255, 255, 0.4), -4px 4px 15px rgba(255, 255, 255, 0.4), 4px -4px 15px rgba(255, 255, 255, 0.4);
}

.quiz .time-up-overlay .time-up-box p,
.quiz .time-up-overlay .time-up-box h3,
.quiz .time-up-overlay .winner-box p,
.quiz .time-up-overlay .winner-box h3,
.quiz .winner-overlay .time-up-box p,
.quiz .winner-overlay .time-up-box h3,
.quiz .winner-overlay .winner-box p,
.quiz .winner-overlay .winner-box h3 {
  color: white;
}

.quiz .time-up-overlay .time-up-box .btn-time-up,
.quiz .time-up-overlay .time-up-box .btn-try-again,
.quiz .time-up-overlay .winner-box .btn-time-up,
.quiz .time-up-overlay .winner-box .btn-try-again,
.quiz .winner-overlay .time-up-box .btn-time-up,
.quiz .winner-overlay .time-up-box .btn-try-again,
.quiz .winner-overlay .winner-box .btn-time-up,
.quiz .winner-overlay .winner-box .btn-try-again {
  margin: 1.75rem 0.5rem 0 0.5rem;
  border: none;
  color: white;
  -webkit-box-shadow: -4px -4px 5px rgba(200, 200, 200, 0.1), 4px 4px 5px rgba(0, 0, 0, 0.1);
          box-shadow: -4px -4px 5px rgba(200, 200, 200, 0.1), 4px 4px 5px rgba(0, 0, 0, 0.1);
}

.quiz .time-up-overlay .time-up-box .btn-time-up:hover,
.quiz .time-up-overlay .time-up-box .btn-try-again:hover,
.quiz .time-up-overlay .winner-box .btn-time-up:hover,
.quiz .time-up-overlay .winner-box .btn-try-again:hover,
.quiz .winner-overlay .time-up-box .btn-time-up:hover,
.quiz .winner-overlay .time-up-box .btn-try-again:hover,
.quiz .winner-overlay .winner-box .btn-time-up:hover,
.quiz .winner-overlay .winner-box .btn-try-again:hover {
  -webkit-box-shadow: inset -4px -4px 5px rgba(200, 200, 200, 0.1), inset 2px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: inset -4px -4px 5px rgba(200, 200, 200, 0.1), inset 2px 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.quiz .time-up-overlay .time-up-box .btn-time-up,
.quiz .time-up-overlay .winner-box .btn-time-up,
.quiz .winner-overlay .time-up-box .btn-time-up,
.quiz .winner-overlay .winner-box .btn-time-up {
  background: #c4302b;
}

.quiz .time-up-overlay .time-up-box .btn-try-again,
.quiz .time-up-overlay .winner-box .btn-try-again,
.quiz .winner-overlay .time-up-box .btn-try-again,
.quiz .winner-overlay .winner-box .btn-try-again {
  background: #3ab54a;
}

.quiz .results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 90vw;
  margin: 2rem auto;
}

.quiz .results h3 {
  text-align: center;
}

.quiz .results .results-top,
.quiz .results .results-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.quiz .results .results-top .result-box,
.quiz .results .results-bottom .result-box {
  width: 100%;
  margin: 1rem 0.5rem;
  padding: 1rem 0;
  text-align: left;
  border-radius: 1.5rem;
  -webkit-box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.1);
}

.quiz .results .results-top .result-box img,
.quiz .results .results-bottom .result-box img {
  margin: 0 0.5rem 0 2rem;
  height: 19px;
  -webkit-box-shadow: -2px -2px 5px rgba(200, 200, 200, 0.1), 2px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: -2px -2px 5px rgba(200, 200, 200, 0.1), 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.quiz .results .results-top .result-box li,
.quiz .results .results-bottom .result-box li {
  list-style: none;
  margin: 0.5rem;
  height: 1.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quiz .results .results-top .americas,
.quiz .results .results-bottom .americas {
  max-height: 2170px;
}

.quiz .results .results-top .europe,
.quiz .results .results-bottom .europe {
  max-height: 2050px;
}

.quiz .results .results-top .oceania,
.quiz .results .results-bottom .oceania {
  max-height: 1080px;
}

.quiz .results .results-top .polar,
.quiz .results .results-bottom .polar {
  max-height: 130px;
}

.geomap-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5rem;
}

.geomap-container h1 {
  margin: 2rem auto;
}

.geomap-container h1 .elearn {
  margin-right: 0.75rem;
}

.geomap-container h1 .elearn .fa-graduation-cap {
  position: absolute;
  -webkit-transform: rotate(-15deg) scale(0.75) translate(-45px, -15px);
          transform: rotate(-15deg) scale(0.75) translate(-45px, -15px);
}

.geomap-container .geomap {
  -webkit-box-shadow: -4px -4px 15px rgba(200, 200, 200, 0.25), 4px 4px 15px rgba(0, 0, 0, 0.25);
          box-shadow: -4px -4px 15px rgba(200, 200, 200, 0.25), 4px 4px 15px rgba(0, 0, 0, 0.25);
}

.geomap-container .geo-button {
  background: white;
  outline: none;
  border: none;
  border-radius: 50%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.geomap-container .geo-button:hover {
  cursor: pointer;
  opacity: 1;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #575757;
  font-family: "Work Sans", sans-serif;
}

body {
  overflow-x: hidden;
}

.btn {
  outline: none;
  text-decoration: none;
  background: white;
  padding: 0.55rem 1.25rem;
  opacity: 0.9;
  font-size: 1.25rem;
  border-radius: 10px;
}

.btn:hover {
  opacity: 1;
}

.elearn {
  font-family: "Pacifico", cursive;
  color: #3ab54a;
}

.elearn .fa-graduation-cap {
  color: #01aaad;
  opacity: 0.8;
}

.elearn .e {
  color: #01aaad;
  font-family: "Pacifico", cursive;
}

.Explorer {
  padding-top: .75rem;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background: radial-gradient(white, rgba(255, 255, 255, 0.7));
  z-index: 10;
}

.loading img {
  width: 70%;
  -webkit-animation: loading 1.5s linear infinite;
          animation: loading 1.5s linear infinite;
}
/*# sourceMappingURL=styles.css.map */